In [1]:
import pandas as pd

In [2]:
ztf_data = pd.read_pickle('data/ztf/data_created_for_SSL/lc_clean_labeled.pkl')
ztf_data

,oid,mjd,ra,dec,fid,flux_tot_ujy,fluxunc_tot_ujy_resc,alerceclass
91,ZTF18aaaqexr,58886.439456,175.776546,15.567160,g,733.608232,7.126595,SNIa
92,ZTF18aaaqexr,58891.320255,175.776546,15.567160,r,1504.452801,10.895416,SNIa
93,ZTF18aaaqexr,58891.420880,175.776546,15.567160,g,796.023260,10.651924,SNIa
94,ZTF18aaaqexr,58894.353704,175.776546,15.567160,g,772.638964,4.406099,SNIa
95,ZTF18aaaqexr,58894.468345,175.776546,15.567160,r,1487.203851,4.759942,SNIa
...,...,...,...,...,...,...,...,...
917930,ZTF21abidtrd,59405.317500,283.249749,28.959674,g,506.245423,8.319171,SNIa
917931,ZTF21abidtrd,59407.281354,283.249749,28.959674,g,487.892594,8.267767,SNIa
917932,ZTF21abidtrd,59407.317176,283.249749,28.959674,r,870.134863,9.425640,SNIa
917933,ZTF21abidtrd,59409.296111,283.249749,28.959674,r,862.413520,9.234165,SNIa
917934,ZTF21abidtrd,59409.333646,283.249749,28.959674,g,479.596502,9.483954,SNIa

In [3]:
ztf_data.oid.unique().shape

(1426,)

In [4]:
maximo = [0,0,0,0]
sn = ['', '', '', '']
sn_with_one_band = []

for id in ztf_data.oid.unique():
    filter = ztf_data[ztf_data.oid == id]

    cont = 0
    for _max in maximo:
        if _max < len(filter) and 200 < len(filter) < 500:
            maximo[cont] = len(filter)
            sn[cont] = id
            break
        cont += 1

    if len(filter.fid.unique()) == 1:
        sn_with_one_band.append(id)

In [5]:
maximo

[498, 497, 483, 480]

In [6]:
sn

['ZTF19abpbopt', 'ZTF19acazbqm', 'ZTF19abrcvzz', 'ZTF19ackjjwf']

In [7]:
len(sn_with_one_band)

161

In [8]:
toy = ['ZTF19acazbqm', sn_with_one_band[0], 'ZTF19abrcvzz', 'ZTF19ackjjwf', sn_with_one_band[3]]

ztf_toy = ztf_data[ztf_data.oid.isin(toy)]
ztf_toy

,oid,mjd,ra,dec,fid,flux_tot_ujy,fluxunc_tot_ujy_resc,alerceclass
41205,ZTF18aayjyub,58276.285139,200.116572,62.300819,r,32.354798,3.685375,SNIa
41208,ZTF18aayjyub,58279.262720,200.116572,62.300819,r,103.141803,3.705885,SNIa
41210,ZTF18aayjyub,58282.225370,200.116572,62.300819,r,223.924997,3.970525,SNIa
41214,ZTF18aayjyub,58288.261516,200.116572,62.300819,r,429.904104,5.285074,SNIa
41216,ZTF18aayjyub,58291.246667,200.116572,62.300819,r,464.166979,6.948023,SNIa
...,...,...,...,...,...,...,...,...
507484,ZTF19ackjjwf,59340.173819,120.708030,15.801539,g,13.679995,4.737701,nonSNIa
507485,ZTF19ackjjwf,59340.239572,120.708030,15.801539,r,17.728112,8.514254,nonSNIa
507486,ZTF19ackjjwf,59342.217477,120.708030,15.801539,g,20.031179,6.768750,nonSNIa
507487,ZTF19ackjjwf,59344.186181,120.708030,15.801539,g,17.688054,4.255524,nonSNIa
507488,ZTF19ackjjwf,59344.198229,120.708030,15.801539,r,28.868889,6.074003,nonSNIa

In [14]:
ztf_toy[ztf_toy.oid == sn_with_one_band[0]]

,oid,mjd,ra,dec,fid,flux_tot_ujy,fluxunc_tot_ujy_resc,alerceclass
41205,ZTF18aayjyub,58276.285139,200.116572,62.300819,r,32.354798,3.685375,SNIa
41208,ZTF18aayjyub,58279.262720,200.116572,62.300819,r,103.141803,3.705885,SNIa
41210,ZTF18aayjyub,58282.225370,200.116572,62.300819,r,223.924997,3.970525,SNIa
41214,ZTF18aayjyub,58288.261516,200.116572,62.300819,r,429.904104,5.285074,SNIa
41216,ZTF18aayjyub,58291.246667,200.116572,62.300819,r,464.166979,6.948023,SNIa
...,...,...,...,...,...,...,...,...
41895,ZTF18aayjyub,59400.218090,200.116572,62.300819,r,1.408048,3.886695,SNIa
41897,ZTF18aayjyub,59402.236435,200.116572,62.300819,r,2.484901,3.760553,SNIa
41899,ZTF18aayjyub,59404.219340,200.116572,62.300819,r,-3.901612,3.228729,SNIa
41902,ZTF18aayjyub,59406.246806,200.116572,62.300819,r,-1.219713,5.039103,SNIa
41904,ZTF18aayjyub,59408.237616,200.116572,62.300819,r,1.301034,5.664091,SNIa

In [21]:
ztf_toy.to_pickle('ztf_toy.pkl')

In [7]:
key_types = {'SNIa': 0, 'nonSNIa': 1}

In [12]:
unblind = [key_types['nonSNIa']]
unblind

[1]

In [9]:
sn_types = {}

In [13]:
sn_types[unblind[0]] = 0

In [14]:
sn_types

{0: 0, 1: 0}

In [ ]:
sn_types

In [15]:
import preprocess

# Creación de los datos del ZTF para todos los puntos de la banda g y r
key_types = {'SNIa': 0, 'nonSNIa': 1}
#key_types = {'Ia':0, 'II':1, 'Ibc':1, 'IIn':1, 'IIP':1, 'IIL':1, 'Ib':1, 'Ic':1}
#path_data = 'data/ztf/lc_from_first_mjd_forced_fot.pkl'
path_data = 'ztf_toy.pkl'
#path_data = "data/spcc/spcc_data_in_format.pkl"
path_save = 'data/ztf'
bands_name = ['g', 'r']
num_augments = 5
normalize = False
reproduce_charnock = False

preprocess.CharnockPreprocess(key_types, path_data, path_save, bands_name, num_augments, normalize, reproduce_charnock)

Processing data...
Supernova: ZTF19ackjjwf - it 0
Supernova: ZTF19acazbqm - it 1
Supernova: ZTF18aayjyub - it 2
Supernova: ZTF19abrcvzz - it 3
Supernova: ZTF18abscyjj - it 4
Num train:  5
SN types:  {1: 2, 0: 3}

In [6]:
tupla = (key_types, path_data, path_save, bands_name, num_augments, normalize, reproduce_paper)

In [14]:
def function(args):
    print("entro")
    preprocess.CharnockPreprocess(args[0], args[1], args[2], args[3], args[4], args[5], args[6])

In [76]:
from multiprocessing import Pool

if __name__ == '__main__':
    p = Pool(processes=4)
    datos = p.map(function, tupla)
    p.close()
    print(datos)

In [8]:
from multiprocessing import Process

procesos = []

In [9]:
for n in range(4):
    proceso = Process(target=function, args=(tupla,))
    procesos.append(proceso)

In [10]:
procesos

[<Process name='Process-1' parent=30380 initial>,
 <Process name='Process-2' parent=30380 initial>,
 <Process name='Process-3' parent=30380 initial>,
 <Process name='Process-4' parent=30380 initial>]

In [11]:
for proceso in procesos:
    proceso.start()

print("------- Espera")
for proceso in procesos:
    proceso.join()

------- Espera

In [15]:
import concurrent.futures

with concurrent.futures.ProcessPoolExecutor() as executor:
    executor.submit(function, tupla)

In [16]:
executor